<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <script>
		history.pushState(null, null, location.href);
		window.onpopstate = function () {
			history.go(1);
		};
	</script>
</head>
<body>
    <h1>Vote Count:</h1>
    <table>
        <tr>
            <th>Candidate</th>
            <th>Count</th>
        </tr>
        <tr th:each="candidates : ${candidates}">
    <td th:text="${candidates.name}"></td>
    <td th:text="${candidates.votesCount}"></td>
</tr>
    </table>
    <form action="/" method="get">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>